@import "mediaQuery";
@import "variables";

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.root {
  height: 100%;

  @include laptop {
    font-size: 16px;
  }

  @include laptop1650min {
    font-size: 20.8px;
  }

}

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  margin: 0;
}

.topbar {
  display: none;

  @include tablet {
    align-items: center;
    border-bottom: 1px solid $box-shadow-color;
    color: #7f807fea;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    margin: auto;
    min-height: 4.1em;
    padding: 0 3.5%;
    width: 100%;
    z-index: 1;

    .middle-section {
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .end-section {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}
